h1{
font-size:18px;
color:#049CE0;
margin-top:30px;
margin-bottom:20px;
background-color:lightgrey;
border-radius:18px;
padding-left:10px;
padding-top:5px;
padding-bottom:5px;
border:2px solid grey;
}
.tablemargin
{
margin-left:30px;

}
.td1{
font-size:14px;
color:#000000;
font-family:arial;
font-weight:bold;
}

td{
padding:5px;

}